@page
@model IndexModel
@{
    ViewData["Title"] = "Мастерская по ремонту компьютеров";
}

<script>
    window.location.href = '/RoleSelection';
</script>

<div class="text-center">
    <h1 class="display-4">Перенаправление...</h1>
    <p>Если перенаправление не сработало, <a href="/RoleSelection">нажмите здесь</a>.</p>
</div>
